<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>诸暨市金耐门业科技有限公司</title>
<meta name="keywords" content="诸暨市金耐门业科技有限公司 ">
<meta name="description" content="诸暨市金耐门业科技有限公司 ">
<meta name="Author" content="云度科技 www.clouddo.cn">
<!-- Bootstrap -->
<link href="css\bootstrap.min.css" rel="stylesheet">
<link href="css\index.css" rel="stylesheet">
<link href="css\animate.min.css" rel="stylesheet">
<link href="css\banner.css" rel="stylesheet">
<link href="css\owl.carousel.css" rel="stylesheet">
<link href="css\owl.theme.css" rel="stylesheet">
<link href="css\swiper.min.css" rel="stylesheet">
<link href="css\jquery.fancybox.css" rel="stylesheet">
<link href="css\slick.css" rel="stylesheet">
<link href="css\mislider.css" rel="stylesheet">
<link href="css\mislider-skin-cameo.css" rel="stylesheet">
<!--[if lt IE 9]>
	<script src="/js/html5shiv.min.js"></script>
	<script src="/js/respond.min.js"></script>
<![endif]-->
<script src="js\jquery.min.js"></script>
<script src="js\mislider.js"></script>
<script src="js\swiper.min.js"></script>
<script src="js\bootstrap.min.js"></script>
<script src="js\common.js"></script>
<script type="text/javascript">
jQuery(function ($) {
	var slider = $('.mis-stage').miSlider({
		stageHeight: 400,
		slidesOnStage: 5,
		slidePosition: 'center',
		slideStart: 'beg',
		slideScaling: 100,
		offsetV: 0,
		centerV: true,
		navButtonsOpacity: 1
	});
});
</script>
<script type="text/javascript">
$(function(){
	$('.mis-stage li').mouseover(function(e) {
        $(this).siblings().stop().fadeTo(500,0.7);
    });
	$('.mis-stage li').mouseout(function(e) {
        $(this).siblings().stop().fadeTo(500,1);
    });
})
</script>
</head>

<body>
<!--nav开始-->

<header class="inner">
  <div class="wow top fadeInDown">
    <div class="container">
      <p class="mail"><a href="mailto:dd@65651818.com" target="_blank">企业邮箱</a></p>
      <p class="tel">服务咨询热线：0512-65651818</p>
    </div>
  </div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="/"><img src="images\logo.jpg" alt=""></a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav menu">
            <li><a href="/">曼赫首页<i></i></a></li>
            <li><a href="/about">走进曼赫<i></i></a>
              <ul>
                <li><a href="/about">公司简介</a></li>
                <li><a href="/about?type=honor">公司荣誉</a></li>
                <li><a href="/about?type=equipment">生产设备</a></li>
              </ul>
            </li>
            <li><a href="/news">公司新闻<i></i></a></li>
            <li><a href="/product" >产品展示<i></i></a>
              <ul>

                <li th:each="item : ${productCategory}"><a th:href="@{/product(categoryId=${item.id})}" th:text="${{item.name}}"></a></li>
              </ul>
            </li>
            <li><a href="/case">典型工程<i></i></a></li>
            <li><a href="/service">客户服务<i></i></a>
              <ul>

                <li><a href="/service">售后服务</a></li>

                <li><a href="/service?type=area">销售区域</a></li>

                <li><a href="/service?type=channel">销售方式</a></li>
              </ul>
            </li>
            <li><a href="/contact">联系我们<i></i></a></li>
          </ul>
          <script type="text/javascript">
            $(document).ready(function () {
              $('.menu li a').each(function () {
                if ($($(this))[0].href == String(window.location))
                  $(this).addClass('current').attr('href', 'javascript:void(0);');
              });
            });
          </script>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </div>
  </nav>
  <!--nav结束-->
  <div class="clear"></div>
  <!--banner开始-->
  <div class="inner_banner">
    <ul class="banner-uls">
      <li class="banner-lis"><a href="#" style="background-image: url('images/pro_ban.jpg');"></a></li>
    </ul>
  </div>
  <!--banner结束-->
  <div class="clear"></div>
</header>

<!--主体开始-->
<div class="wow inner_main fadeInUp">
  <div class="container">
    <div class="inner_main_fl col-md-3">
      <div class="inner_fl_title">
        <div class="inner_fl_titles">
          <div class="inner_fl_title1">P</div>
          <div class="inner_fl_title2">
            <p>产品分类</p>
            <span>roduct categories</span></div>
        </div>
      </div>
      <div class="inner_fl_con">
        <ul>
        	<li><a href="product.html">全部产品</a></li>
                                  
              <li><a href="product-14.html?#catpro_4">平开铜门系列</a></li>
 
              <li><a href="product-14.html?#catpro_5">平移铜门系列</a></li>
 
              <li><a href="product-14.html?#catpro_6">旋转铜门系列</a></li>
 
              <li><a href="product-14.html?#catpro_7">折叠铜门系列</a></li>
 
              <li><a href="product-14.html?#catpro_3">母子铜门系列</a></li>
 
              <li><a href="product-14.html?#catpro_1">门中套门铜门系列</a></li>
 
              <li><a href="product-14.html?#catpro_8">欧式铜门系列</a></li>
 
              <li><a href="product-14.html?#catpro_2">镂空玻璃铜门系列</a></li>
 
              <li><a href="product-14.html?#catpro_9">中式铜门系列</a></li>
 
              <li><a href="product-14.html?#catpro_10">时尚简约铜门系列</a></li>
 
              <li><a href="product-14.html?#catpro_11">铜壁画</a></li>
 
              <li><a href="product-14.html?#catpro_12">铜雨蓬</a></li>
 
              <li><a href="product-14.html?#catpro_13">铜装饰</a></li>
        </ul>
      </div>
      <script type="text/javascript">
                        $(document).ready(function () {
                            $('.inner_fl_con li a').each(function () {
                                    if ($($(this))[0].href == String(window.location))
                                        $(this).addClass('current').attr('href', 'javascript:void(0);');
                                });
                            })
                </script>	
    </div>
    <div class="inner_main_fr col-md-9">
            

   
<a id="catpro_4"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>平开铜门系列</p>
        </div>
        <div class="inner_fr_pro">
          <h3>平开铜门系列：最常用的是铰链门，也可是地弹簧门或天地轴门，分内开启和外开启，玻璃铜门大多安装地弹簧。</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508832864252983.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>平开铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509679379129323.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>平开铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508832794710153.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>平开铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509679379128492.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>平开铜门</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_5"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>平移铜门系列</p>
        </div>
        <div class="inner_fr_pro">
          <h3>平移铜门系列：两边们固定，中间的门分别向两边平移，常用的是四扇门，两边两扇门固定，中间两扇门分别向两边移动，也可以六扇门，两边两扇固定，中间四扇分别向二边移动。大楼转角处的圆弧做圆弧移门难度较高，我公司有专利。</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509677100119327.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>平移铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508831726214986.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>平移铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509676093938135.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>平移铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508831654590396.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>平移铜门</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_6"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>旋转铜门系列</p>
        </div>
        <div class="inner_fr_pro">
          <h3>旋转铜门系列：分三页旋转门和两页旋转门，两页旋转门中间带自动感应平移门。门头外观可装饰成欧式或时尚简洁式样。</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508833018602315.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>旋转铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508832978282933.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>旋转铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508832940102759.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>旋转铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508832906919072.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>旋转铜门</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_7"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>折叠铜门系列</p>
        </div>
        <div class="inner_fr_pro">
          <h3>折叠铜门系列：该系列门打开时，门扇折叠后放在两边，适合要求开启门洞大但又受场地限制的工程。</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509679599117902.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>折叠铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508836200519264.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>折叠铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508836168127856.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>折叠铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508836137896825.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>折叠铜门</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_3"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>母子铜门系列</p>
        </div>
        <div class="inner_fr_pro">
          <h3>母子铜门系列：该系列为双开门，但门扇一边大，另一边小，平时只开启大的门扇，小的仅在需要时打开。适合双扇对称门门洞宽度不够，但做单们又太宽的场合</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509679627372827.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>母子铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509679627134633.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>母子铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509679626101886.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>母子铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509679625650511.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>母子铜门</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_1"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>门中套门铜门系列</p>
        </div>
        <div class="inner_fr_pro">
          <h3>门中套门同门系列 ：即可以开启的大门中间开一个小门，常用于围墙门，车辆进出开大门，人员外出开小门。</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509679971104816.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>门中套门铜门</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_8"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>欧式铜门系列</p>
        </div>
        <div class="inner_fr_pro">
          <h3>欧式铜门系列：欧式建筑特别适合配套铜门，使整个建筑更显厚重感。上海外滩上世纪二三十年代的欧式大楼的大门基本上都是铜门。</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509679916501277.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>欧式铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509679916787395.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>欧式铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508836007109115.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>欧式铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508835938372784.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>欧式铜门</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_2"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>镂空玻璃铜门系列</p>
        </div>
        <div class="inner_fr_pro">
          <h3>镂空玻璃铜门系列：该系列目前使用比较多，既有一般实板门的厚重感，又能顾忌采光，是办公大楼，宾馆、酒店首选大门。玻璃上的铜条可以设计成欧式、中式和时尚简洁等造型。</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508835905538198.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>镂空玻璃铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508835865129732.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>镂空玻璃铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508835802379109.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>镂空玻璃铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508835758122094.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>镂空玻璃铜门</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_9"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>中式铜门系列</p>
        </div>
        <div class="inner_fr_pro">
          <h3>中式铜门系列：我国的古建筑用铜门比较多，以黄铜色居多，现代也有用红古铜色镶拼黄铜色。主要用于中式别墅、中式庭院门、中式风格的大楼门使用。</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509680266102979.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>中式铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509680269644185.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>中式铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508836324906593.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>中式铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508836292115652.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>中式铜门</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_10"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>时尚简约铜门系列</p>
        </div>
        <div class="inner_fr_pro">
          <h3>时尚简约铜门系列：该系列可用于现代感强的建筑上，好的设计可以既给人铜的高贵质感，但又不失现代风格。</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171103\1509680263131599.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>时尚简约铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508832075467884.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>时尚简约铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508831987594354.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>时尚简约铜门</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508831864137990.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>时尚简约铜门</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_11"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>铜壁画</p>
        </div>
        <div class="inner_fr_pro">
          <h3>铜壁画：采用铜板锻造工艺制作，用于大厅壁画、大楼外立面等装饰，也可用于铜门头装饰。</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508835714996529.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜壁画</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508835669895964.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜壁画</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_12"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>铜雨蓬</p>
        </div>
        <div class="inner_fr_pro">
          <h3>铜雨蓬：与铜门配套。分玻璃雨蓬和实板雨蓬。</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508833175536046.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜雨蓬</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508833145117334.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜雨蓬</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508833116128114.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜雨蓬</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508833064987579.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜雨蓬</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
   
<a id="catpro_13"></a>
      <div class="inner_pro">
        <div class="inner_fr_titlepro">
          <p>铜装饰</p>
        </div>
        <div class="inner_fr_pro">
          <h3>铜装饰</h3>
          <ul>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171106\1509936558409920.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜装饰</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508834536441678.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜装饰</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508834361110897.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜装饰</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508834211126349.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜装饰</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508834185220107.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜装饰</p>
              </div>
              </a> </li>
 
            <li class="col-xs-12 col-sm-6 col-md-6"> <a href="#">
              <div class="ipro_img"><img src="upload\20171024\1508834156534454.jpg" alt=""></div>
              <div class="ipro_txt">
                <p>铜装饰</p>
              </div>
              </a> </li>
              
          </ul>
        </div>
      </div>
    
 <!--  <div class="pagev">
                          
            </div>  --> 
    </div>
  </div>
</div>
<!--主体结束-->
<div class="clear"></div>

<!--底部开始-->
<footer>
  <div class="wow footer1 fadeInUp">
    <div class="container">
      <div class="footer1_fl col-md-4"> <img src="images\footlogo.png" alt=""> </div>
      <div class="footer1_fr col-md-8">
        <ul>
          <li><a href="index.htm">苏君首页</a></li>
          <li><a href="about.html">走进君安</a></li>
          <li><a href="news.html">公司新闻</a></li>
          <li><a href="product.html">产品展示</a></li>
          <li><a href="case.html">典型工程</a></li>
          <li><a href="service.html">客户服务</a></li>
          <li><a href="login.html">公司内网</a></li>
          <li><a href="contact.html">联系我们</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wow footer3 fadeInUp">
    <div class="container">
      <div class="footer3_fl col-md-6">
        <h3>公司简介</h3>
        <p> 诸暨市金耐门业科技有限公司系一家注册于苏州国家高新技术产业开发区的股份制企业，公司由五家下属企业组成，占地面积50余亩，年生产规模达二万平方米，连续五年铜门全国销量列前。先后承接工程三千多项，曾参与多项国家重点工程建设。产品出口美国、英国、台湾等地．．． </p>
        <span><a href="about.html">+查看详情</a></span> </div>
      <div class="footer3_fc col-md-1"></div>
      <div class="footer3_fr col-md-5">
        <h3>联系我们</h3>
        <p> 电话：0512-65651818&nbsp;&nbsp;&nbsp;&nbsp;传真：0512-65658057&nbsp;&nbsp;&nbsp;&nbsp;邮编：215128<br>
          邮箱：dd@65651818.com &nbsp;&nbsp;地址：中国江苏·苏州市新门路18号 </p>
        <img src="images\ewm.png" alt=""> </div>
    </div>
  </div>
  <div class="wow footer2 fadeInUp">
    <div class="container">
      <p> 任何个人或单位未经许可不得复制转载转刊 本网站涉及内容最终归诸暨市金耐门业科技有限公司所有 请勿建立镜像<br>
        Copyright © 2017 版权所有：诸暨市金耐门业科技有限公司  苏ICP备000000号-1  技术支持：云度科技 </p>
    </div>
  </div>
</footer>
<!--底部结束--> 

<!--客服开始-->
<div class="zxkf"> <img src="images\qq.jpg" alt=""> <img src="images\kftel.jpg" alt=""> <a href="#"><img src="images\top.jpg" alt=""></a> </div>
<!--客服结束--> 

<script type="text/javascript" src="js\wow.min.js"></script> 
<script type="text/javascript">
    new WOW().init();
</script> 
<script type="text/javascript">
	$(document).ready(function () {
		$('.inner_title li a').each(function () {
				if ($($(this))[0].href == String(window.location))
					$(this).addClass('current').attr('href', 'javascript:void(0);');
			});
		})
</script>
</body>
</html>
