<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>诸暨市金耐门业科技有限公司</title>
<meta name="keywords" content="诸暨市金耐门业科技有限公司 ">
<meta name="description" content="诸暨市金耐门业科技有限公司 ">
<meta name="Author" content="loujj,walking">
<!-- Bootstrap -->
<link href="css\bootstrap.min.css" rel="stylesheet">
<link href="css\index.css" rel="stylesheet">
<link href="css\animate.min.css" rel="stylesheet">
<link href="css\banner.css" rel="stylesheet">
<link href="css\owl.carousel.css" rel="stylesheet">
<link href="css\owl.theme.css" rel="stylesheet">
<link href="css\swiper.min.css" rel="stylesheet">
<link href="css\jquery.fancybox.css" rel="stylesheet">
<link href="css\slick.css" rel="stylesheet">
<link href="css\mislider.css" rel="stylesheet">
<link href="css\mislider-skin-cameo.css" rel="stylesheet">
<!--[if lt IE 9]>
	<script src="/js/html5shiv.min.js"></script>
	<script src="/js/respond.min.js"></script>
<![endif]-->
<script src="js\jquery.min.js"></script>
<script src="js\mislider.js"></script>
<script src="js\swiper.min.js"></script>
<script src="js\bootstrap.min.js"></script>
<script src="js\common.js"></script>
<script type="text/javascript">
jQuery(function ($) {
	var slider = $('.mis-stage').miSlider({
		stageHeight: 400,
		slidesOnStage: 5,
		slidePosition: 'center',
		slideStart: 'beg',
		slideScaling: 100,
		offsetV: 0,
		centerV: true,
		navButtonsOpacity: 1
	});
});
</script>
<script type="text/javascript">
$(function(){
	$('.mis-stage li').mouseover(function(e) {
        $(this).siblings().stop().fadeTo(500,0.7);
    });
	$('.mis-stage li').mouseout(function(e) {
        $(this).siblings().stop().fadeTo(500,1);
    });
})
</script>
</head>

<body>
<!--nav开始-->

<header class="inner">
  <div class="wow top fadeInDown">
    <div class="container">
      <p class="mail"><a href="mailto:dd@65651818.com" target="_blank">企业邮箱</a></p>
      <p class="tel">服务咨询热线：0512-65651818</p>
    </div>
  </div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="container-fluid"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="/"><img src="images\logo.jpg" alt=""></a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav menu">
            <li><a href="/">曼赫首页<i></i></a></li>
            <li><a href="/about">走进曼赫<i></i></a>
              <ul>
                <li><a href="/about">公司简介</a></li>
                <li><a href="/about?type=honor">公司荣誉</a></li>
                <li><a href="/about?type=equipment">生产设备</a></li>
              </ul>
            </li>
            <li><a href="/news">公司新闻<i></i></a></li>
            <li><a href="/product" >产品展示<i></i></a>
              <ul>

              <li th:each="item : ${productCategory}"><a th:href="@{/product(categoryId=${item.id})}" th:text="${{item.name}}"></a></li>
              </ul>
            </li>
            <li><a href="/case">典型工程<i></i></a></li>
            <li><a href="/service">客户服务<i></i></a>
              <ul>

     <li><a href="/service">售后服务</a></li>

     <li><a href="/service?type=area">销售区域</a></li>

     <li><a href="/service?type=channel">销售方式</a></li>
              </ul>
            </li>
            <li><a href="/contact">联系我们<i></i></a></li>
          </ul>
<script type="text/javascript">
  $(document).ready(function () {
    $('.menu li a').each(function () {
        if ($($(this))[0].href == String(window.location))
          $(this).addClass('current').attr('href', 'javascript:void(0);');
      });
    });
</script> 
        </div>
        <!-- /.navbar-collapse --> 
      </div>
      <!-- /.container-fluid --> 
    </div>
  </nav>
  <!--nav结束-->
  <div class="clear"></div>
  <!--banner开始-->
  <div class="inner_banner">
    <ul class="banner-uls">
      <li class="banner-lis"><a href="#" style="background-image: url('images/ser_ban.jpg');"></a></li>
    </ul>
  </div>
  <!--banner结束-->
  <div class="clear"></div>
</header>

<!--主体开始-->
<div class="inner_main">
  <div class="wow inner_main_title fadeInDown">
    <div class="container">
      <div class="inner_title">
        <p>客户服务</p>
        <ul>
          
 
     <li><a href="service-1.html?ID=72">售后服务<i></i></a></li>
 
     <li><a href="service-2.html?ID=71">销售区域<i></i></a></li>
 
     <li><a href="service.php?ID=70">销售方式<i></i></a></li>
        </ul>
         
      </div>
      <div class="inner_location">
        <p>当前页面：<a href="index.html">首页</a> - 客户服务 - <span>售后服务</span></p>
      </div>
    </div>
  </div>
  <div class="wow inner_main_con fadeInUp">
    <div class="container">
      <div class="inner_con_title">
        <h3>售后服务</h3>
      </div>
      <div class="inner_con_ser">
        <div class="ser"><div class="ser_fl col-md-6"><img src="images\ser1-1.jpg" class="center-block img-responsive"></div><div class="ser_fr col-md-6"><img src="images\ser1-2.jpg"><h3>保修期</h3><p>每樘门附质保书，实行规定年限的免费保修期。</p></div></div><div class="ser"><div class="ser_fr col-md-6"><img src="images\ser2-1.jpg"><h3>保修期以外的服务条例</h3><p>在产品超出免费保修期以后，苏州君安铜门公司仍提供良好的支持和服务，客户服务中心的内容及服务流程，对于保修期外的产品，仍将有效。在确定和解决用户产品所发生的故障时，我公司将不收取服务费用，只收取零配件的成本费。</p></div><div class="ser_fl col-md-6"><img src="images\ser2-2.jpg" class="center-block img-responsive"></div></div><div class="ser"><div class="ser_fl col-md-6"><img src="images\ser3-1.jpg" class="center-block img-responsive"></div><div class="ser_fr col-md-6"><img src="images\ser3-2.jpg"><h3>服务方式及响应时间</h3><p>任何产品出现故障，苏州君安铜门公司将给予下列承诺：
紧急事项如门关不上或打不开，收到通知后40分钟内出发，到现场完成客户提出的维修要求，如需更换配件或送修，我公司将在2个工作日内负责解决。</p></div></div><div class="ser"><div class="ser_fr col-md-6"><img src="images\ser4-1.jpg"><h3>服务流程、定期上门维护</h3><p>诸暨市金耐门业科技有限公司客户服务中心由一批具有丰富经验的铜结构工程师组成。专门从事客户服务工作，组成如下：<br>a.报修登记人员&amp;b.现场服务工&amp;c.技术支持工程师<br>d.技术顾问组&amp;e.定期上门维护</p></div><div class="ser_fl col-md-6"><img src="images\ser4-2.jpg" class="center-block img-responsive"></div></div>      </div>
    </div>
  </div>
</div>
<!--主体结束-->
<div class="clear"></div>

<!--底部开始-->
<footer>
  <div class="wow footer1 fadeInUp">
    <div class="container">
      <div class="footer1_fl col-md-4"> <img src="images\footlogo.png" alt=""> </div>
      <div class="footer1_fr col-md-8">
        <ul>
          <li><a href="index.htm">苏君首页</a></li>
          <li><a href="about.html">走进君安</a></li>
          <li><a href="news.html">公司新闻</a></li>
          <li><a href="product.html">产品展示</a></li>
          <li><a href="case.html">典型工程</a></li>
          <li><a href="service.html">客户服务</a></li>
          <li><a href="login.html">公司内网</a></li>
          <li><a href="contact.html">联系我们</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wow footer3 fadeInUp">
    <div class="container">
      <div class="footer3_fl col-md-6">
        <h3>公司简介</h3>
        <p> 诸暨市金耐门业科技有限公司系一家注册于苏州国家高新技术产业开发区的股份制企业，公司由五家下属企业组成，占地面积50余亩，年生产规模达二万平方米，连续五年铜门全国销量列前。先后承接工程三千多项，曾参与多项国家重点工程建设。产品出口美国、英国、台湾等地．．． </p>
        <span><a href="about.html">+查看详情</a></span> </div>
      <div class="footer3_fc col-md-1"></div>
      <div class="footer3_fr col-md-5">
        <h3>联系我们</h3>
        <p> 电话：0512-65651818&nbsp;&nbsp;&nbsp;&nbsp;传真：0512-65658057&nbsp;&nbsp;&nbsp;&nbsp;邮编：215128<br>
          邮箱：dd@65651818.com &nbsp;&nbsp;地址：中国江苏·苏州市新门路18号 </p>
        <img src="images\ewm.png" alt=""> </div>
    </div>
  </div>
  <div class="wow footer2 fadeInUp">
    <div class="container">
      <p> 任何个人或单位未经许可不得复制转载转刊 本网站涉及内容最终归诸暨市金耐门业科技有限公司所有 请勿建立镜像<br>
        Copyright © 2017 版权所有：诸暨市金耐门业科技有限公司  苏ICP备000000号-1  技术支持：云度科技 </p>
    </div>
  </div>
</footer>
<!--底部结束--> 

<!--客服开始-->
<div class="zxkf"> <img src="images\qq.jpg" alt=""> <img src="images\kftel.jpg" alt=""> <a href="#"><img src="images\top.jpg" alt=""></a> </div>
<!--客服结束--> 

<script type="text/javascript" src="js\wow.min.js"></script> 
<script type="text/javascript">
    new WOW().init();
</script> 
<script type="text/javascript">
	$(document).ready(function () {
		$('.inner_title li a').each(function () {
				if ($($(this))[0].href == String(window.location))
					$(this).addClass('current').attr('href', 'javascript:void(0);');
			});
		})
</script>
</body>
</html>
