<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - 登录</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="js/plugins/layui/css/layui.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <script src="js/plugins/layui/layui.js" charset="utf-8" type="text/javascript"></script>
    <script src="js/common.js" charset="utf-8" type="text/javascript"></script>
    <script src="js/plugins/layui/lay/modules/carousel.js" charset="utf-8" type="text/javascript"></script>

    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>

<body>
    <div class="layui-carousel video_mask" style="background: url(../admin/images/banner1.jpg) fixed center center;" id="login_carousel" >
<!--        <div carousel-item>-->
<!--            <div class="carousel_div1"></div>-->
<!--            <div class="carousel_div2"></div>-->
<!--            <div class="carousel_div3"></div>-->
<!--        </div>-->
        <div class="login layui-anim layui-anim-up">
            <h1>manhe管理系统</h1>
            <form class="layui-form" action="#" th:action="@{/admin/loginVerify}" method="post">
                <div class="layui-form-item">
                    <input type="text" name="num" lay-verify="required" placeholder="请输入帐号" autocomplete="off"  value="" class="layui-input">
                </div>
                <div class="layui-form-item">
                    <input type="password" name="password" lay-verify="required" placeholder="请输入密码" autocomplete="off" value="" class="layui-input">
                </div>

                <button class="layui-btn login_btn" lay-submit="" lay-filter="login">登陆系统</button>
            </form>

        </div>

    </div>

</body>

</html>
<script>

</script>