<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/home/layout">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet"/>
<link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>

<div th:fragment="content">
    <ul class="layui-tab-title">
        <li lay-id="0" class="layui-this">客户联系</li>
    </ul>

    <table class="layui-table" width="1200px">
        <thead>
        <tr>
            <th>#</th>
            <th>客户称呼</th>
            <th>联系方式</th>
            <th>所在城市</th>
            <th>需求内容</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="it:${contacts}">
            <td class="listtd" th:text="${it.id}"></td>
            <td class="listtd" th:text="${it.nickName}"></td>
            <td class="listtd" th:text="${it.mobile}"></td>
            <td class="listtd" th:text="${it.area}"></td>
            <td class="listtd" th:text="${it.context}"></td>
            <td class="listtd" th:text="${it.createTime}"></td>
        </tr>
        </tbody>
    </table>

</div>
</html>

<script>
    function del(id){
        layui.use('layer',function(){
            var layer = layui.layer;
            layer.msg('你确定删除么？', {
                time: 2000 ,//2秒自动关闭
                btn: ['确定', '取消'],
                yes: function(index){
                    console.log(id);
                    $.ajax({
                        url:"/admin/case/delete",
                        data:{'id':id},
                        type:"Post",
                        dataType:"json",
                        success:function(data){
                            location.reload(); //删除成功后再刷新
                        },
                        error:function(data){
                            alert('错误',data);
                            console.log(data);
                        }
                    });
                    layer.close(index);
                }
            });
        });
    };
</script>