<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>诸暨市金耐门业科技有限公司</title>
  <meta name="keywords" content="诸暨市金耐门业科技有限公司 ">
  <meta name="description" content="诸暨市金耐门业科技有限公司 ">
  <meta name="Author" content="loujj,walking">
  <!-- Bootstrap -->
  <link href="css\bootstrap.min.css" rel="stylesheet">
  <link href="css\index.css" rel="stylesheet">
  <link href="css\animate.min.css" rel="stylesheet">
  <link href="css\banner.css" rel="stylesheet">
  <link href="css\owl.carousel.css" rel="stylesheet">
  <link href="css\owl.theme.css" rel="stylesheet">
  <link href="css\swiper.min.css" rel="stylesheet">
  <link href="css\jquery.fancybox.css" rel="stylesheet">
  <link href="css\slick.css" rel="stylesheet">
  <link href="css\mislider.css" rel="stylesheet">
  <link href="css\mislider-skin-cameo.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="/js/html5shiv.min.js"></script>
  <script src="/js/respond.min.js"></script>
  <![endif]-->
  <script src="js\jquery.min.js"></script>
  <script src="js\mislider.js"></script>
  <script src="js\swiper.min.js"></script>
  <script src="js\bootstrap.min.js"></script>
  <script src="js\common.js"></script>
  <script type="text/javascript">
    jQuery(function ($) {
      var slider = $('.mis-stage').miSlider({
        stageHeight: 400,
        slidesOnStage: 5,
        slidePosition: 'center',
        slideStart: 'beg',
        slideScaling: 100,
        offsetV: 0,
        centerV: true,
        navButtonsOpacity: 1
      });
    });
  </script>
  <script type="text/javascript">
    $(function(){
      $('.mis-stage li').mouseover(function(e) {
        $(this).siblings().stop().fadeTo(500,0.7);
      });
      $('.mis-stage li').mouseout(function(e) {
        $(this).siblings().stop().fadeTo(500,1);
      });
    })
  </script>
</head>

<body onload="isPC()">
<!--nav开始-->

<header class="inner" id = "header" >
  <div class="wow top fadeInDown">
    <div class="container">
      <p class="mail"><a href="mailto:qq@12345678.com" target="_blank">企业邮箱</a></p>
      <p class="tel">服务咨询热线： 0575-87655998</p>
    </div>
  </div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" style="margin-right:-10px;" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="/"><img id="logoImage" src="images\logo.jpg" alt=""></a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav menu">
            <li><a href="/">曼赫首页<i></i></a></li>
            <li><a href="/about">走进曼赫<i></i></a>
              <ul>
                <li><a href="/about">公司简介</a></li>
                <!--                <li><a href="/about1">公司荣誉</a></li>-->
                <!--                                <li><a href="/about2?type=equipment">生产设备</a></li>-->
              </ul>
            </li>
            <!-- <li><a href="/news">公司新闻<i></i></a></li> -->
            <li><a href="/product" >产品展示<i></i></a>
              <ul>

                <li th:each="item : ${productCategory}"><a th:href="@{/product(categoryId=${item.id})}" th:text="${{item.name}}"></a></li>
              </ul>
            </li>
            <li><a href="/case">典型工程<i></i></a></li>
            <li><a href="/service1">客户服务<i></i></a>
              <ul>

                <li><a href="/service1">售后服务</a></li>

                <li><a href="/service2?type=area">销售区域</a></li>

                <li><a href="/service?type=channel">销售方式</a></li>
              </ul>
            </li>
            <li><a href="/contact">联系我们<i></i></a></li>
          </ul>
          <script type="text/javascript">
            $(document).ready(function () {
              $('.menu li a').each(function () {
                if ($($(this))[0].href == String(window.location))
                  $(this).addClass('current').attr('href', 'javascript:void(0);');
              });
            });
          </script>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </div>
  </nav>
  <!--nav结束-->
  <div class="clear"></div>
  <!--banner开始-->
  <div id="backgroundImage" class="inner_banner">
    <ul class="banner-uls">
      <li class="banner-lis"><a href="#" style="background-image: url('images/index_ban.jpg');"></a></li>
    </ul>
  </div>
  <!--banner结束-->
  <div class="clear"></div>
</header>

<!--主体开始-->
<div class="inner_main">
  <div class="wow inner_main_title fadeInDown">
    <div class="container">
      <div class="inner_title">
        <p>公司新闻</p>
      </div>
      <div class="inner_location">
        <p>当前页面：<a href="/">首页</a> - <span>公司新闻</span></p>
      </div>
    </div>
  </div>
  <div class="wow inner_main_con fadeInUp">
    <div class="container">
      <div class="inner_con_title">
        <h3>公司新闻</h3>
      </div>
      <div class="inner_con_news">

        <ul>
          <li th:each="item : ${news}">
            <a th:href="@{/newsShow(newsId=${item.id})}" th:title="${{item.name}}">
              <div class="col-md-2">
                <div class="news_date">
                  <p th:text="${{item.day}}"></p>
                  <span th:text="${{item.month}}"></span>
                </div>
              </div>
              <div class="news_content col-md-10">
                <h3 th:text="${{item.name}}"></h3>
                <p th:text="${{item.details}}"></p>
                <span>+查看详情</span> </div>
            </a> </li>
        </ul>
      </div>
      <!--      <div class="pagev">-->
      <!--            <span><a href='news-1.html?classid=0&skey=&pageno=1'>首页</a></span><span>上一页</span><span class='fonts'>1</span><span><a href='news-2.html?classid=0&skey=&pageno=2'>2</a></span><span><a href='news-3.html?classid=0&skey=&pageno=3'>3</a></span><span><a href='news-2.html?classid=0&skey=&pageno=2'>下一页</a></span><span><a href='news-3.html?classid=0&skey=&pageno=3'>尾页</a></span>              -->
      <!--            </div>-->
    </div>
  </div>
</div>
<!--主体结束-->
<div class="clear"></div>

<!--底部开始-->
<footer>
  <div class="wow footer1 fadeInUp">
    <div class="container">
      <div class="footer1_fl col-md-4">
        <!--        <img src="images\footlogo.png" alt="">--> </div>
      <div class="footer1_fr col-md-8">
        <ul>
          <li><a href="/">曼赫首页</a></li>
          <li><a href="/about">走进曼赫</a></li>
          <!-- <li><a href="/news">公司新闻<i></i></a></li> -->
          <li><a href="/product">产品展示</a></li>
          <li><a href="/case">典型工程</a></li>
          <li><a href="/service1">客户服务</a></li>
          <li><a href="/contact">联系我们</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wow footer3 fadeInUp">
    <div class="container">
      <div class="footer3_fl col-md-6">
        <h3>公司简介</h3>
        <p> 诸暨市金耐门业科技有限公司是一家以雄厚的实力、先进的管理、精英的团队、专业的技术、一流的产品而成就的集门窗类产品设计、研发、制造、运营一体化的现代化企业。 </p>
        <span><a href="/about">+查看详情</a></span> </div>
      <div class="footer3_fc col-md-1"></div>
      <div class="footer3_fr col-md-5">
        <h3>联系我们</h3>
        <p> 电话： 0575-87655998&nbsp;&nbsp;&nbsp;&nbsp;传真： 0575-87655998&nbsp;&nbsp;&nbsp;&nbsp;邮编：311800<br>
          邮箱：qq@12345678.com &nbsp;&nbsp;地址：浙江省绍兴市诸暨市浣东街道李村二村李三自然街道328号 </p>
        <!--        <img src="images\ewm.png" alt=""> -->
      </div>
    </div>
  </div>
  <div class="wow footer2 fadeInUp">
    <div class="container">
      <p> 任何个人或单位未经许可不得复制转载转刊 本网站涉及内容最终归诸暨市金耐门业科技有限公司所有  <br>
        Copyright © 2020 版权所有：诸暨市金耐门业科技有限公司    </p>
    </div>
  </div>
</footer>
<!--底部结束-->



<script type="text/javascript" src="js\wow.min.js"></script>
<script type="text/javascript">
  new WOW().init();
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.inner_title li a').each(function () {
      if ($($(this))[0].href == String(window.location))
        $(this).addClass('current').attr('href', 'javascript:void(0);');
    });
  })
</script>
</body>
</html>
