<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/home/layout">
<div th:fragment="content">
    <ul class="layui-tab-title">
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <h3>欢迎进入后台管理！！</h3>
            <br/>
            <br/>
            <h2>官网浏览人数累计：<label th:text="${homeViewCount}" /></h2>
            <br/>
            <br/>
            <h2>工程浏览人数累计：<label th:text="${caseViewCount}" /></h2>
            <br/>
            <br/>
            <h2>产品点赞人数累计：<label th:text="${productLikeCount}" /></h2>
        </div>
    </div>
</div>
</html>