*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
ul li{
	list-style:none;
}
a{
	text-decoration:none;
}
.clear{
	clear:both;
}
img{
	padding:0;
	margin:0;
	border:0;
}
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
body{
	font-family:"微软雅黑";
	font-size:14px;
}

/*引导页*/
.defaultbg{
	background:url(../images/dbg.jpg) repeat-y top center;
	background-size:100%;
	overflow:hidden;
}
@media only screen and (max-width: 1400px){
	.logo1{
		padding-top:5% !important;
	}
	.enter{
		padding-top:3% !important;
	}
}
@media only screen and (max-width:1024px ) {
	 .defaultbg{
		background:url(../images/dbg1.jpg) repeat-y top center;
		background-size:100%;
		overflow:hidden;
	}
	.logo1{
		padding-top:35% !important;
	}
	.enter{
		padding-top:12% !important;
	}
}
@media only screen and (max-width:768px ) {
	 .defaultbg{
		background:url(../images/dbg2.jpg) repeat-y top center;
		background-size:100%;
		overflow:hidden;
	}
	.logo1{
		padding-top:30% !important;
	}
	.enter{
		padding-top:12% !important;
	}
}
@media only screen and (max-width:414px ) {
	.defaultbg{
		background:url(../images/dbg3.jpg) repeat-y top center;
		background-size:100%;
		overflow:hidden;
	}
	.logo1{
		padding-top:38% !important;
	}
	.enter{
		padding-top:12% !important;
	}
}
@media only screen and (max-width:320px ) {
	.defaultbg{
		background:url(../images/dbg4.jpg) repeat-y top center;
		background-size:100%;
		overflow:hidden;
	}
	.logo1{
		padding-top:28% !important;
	}
	.enter{
		padding-top:12% !important;
	}
}
.dbg{
	width:100%;
	height:100%;
}
.logo1{
	padding-top:9%;
}
.enter{
	padding-top:5%;
}
.enter a{
	display:block;
}

header{
	width:100%;
	height:870px;
	margin:0 auto;
}
.top{
	position:relative;
	z-index:999;
}
.top p{
	color:#fff;
	float:right;
	font-size:12px;
	line-height:40px;
	margin-left:25px;
}
.top p a{
	color:#fff;
	font-size:12px;
}
.tel{
	background:url(../images/tel.png) no-repeat left center;
	padding-left:22px;
}
.mail{
	background:url(../images/mail.png) no-repeat left center;
	padding-left:25px;
}

/*pcsearch*/
.column{
	margin-top:30px;
}
.searchform{
	width:200px;
	height:33px;
	line-height:30px;
	border:1px solid #e3e3e3;
	border-radius:5px;
	float:right;
	background-color:#fff;
}
.searchform input{
	outline:none;
	border-style:none;
}
.forminput1{
	width: 150px;
    line-height: 30px;
    padding-left: 10px;
    color: #ccc;
    margin-left: 10px;
}
.forminput2{
	width:15px;
	height:15px;
	background:url(../images/search.png) no-repeat right center;
	float: right;
	margin: 9px 10px;
	cursor:pointer;
}
.navbar {
	min-height:100px;
	background:url(../images/navbg.jpg) repeat center center;
	position:relative;
	z-index:999;
}
.nav{
	padding-left:0;
	margin-bottom:0;
	list-style:none
}
.menu li{
	line-height:100px;
	float: left;
	text-align: center;
	position: relative;
	background:url(../images/navli.jpg) no-repeat right center;
}
.menu li a{
	display:block;
	color:#000;
	text-transform:uppercase;
	padding: 0px 16px;
	font-size:16px;
}
.menu li:hover a{
	color:#b08e68;
}
.menu li a:hover{
	color:#b08e68;
}
.menu li a i{
	height:8px;
	background:url(../images/navbottom.jpg) no-repeat bottom center;
	width:100%;
	left:0px;
	bottom:20px;
	position:absolute;
	z-index:999;
	display:none;
}
.menu li a:hover i{
	display:block;
}
.menu li .current i{
	display:block;
}
.menu li .current{
	color:#b08e68;
}

.menu ul{
	background-color:#b08e68;
	color:#fff;
	position: absolute;
	display:none;
	left: 0;
	overflow: hidden;
	z-index: 9999;
	transition: transform 0.3s ease 0s;
	width:100%;
}
.menu ul li{
	float: none;
	position: static;
	text-align: center;
	background:none;
	color:#fff;
	height: 35px;
    line-height: 35px;
	padding:0;
	margin:0;
	background:none;
}
.menu ul li a{
	display:block;
	border-bottom: medium none;
	display: block;
	font-size: 14px;
	padding:0 10px;
	position: static;
	color:#fff !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background:none;
}
.menu ul li a:hover{
	border-bottom: medium none;
	display: block;
	font-size: 14px;
	position: static;
	color:#fff;
	background-color:#7f511f;
}
.menu ul li .current{
	color:#fff;
	background-color:#7f511f;
}
.menu ul.subnav {
	display: block;
}



.collapse.in { display: block }
.navbar-collapse.in { }
.collapsing { height: 0; display: none; }
.navbar-default .navbar-toggle { border-color: #ddd; }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: #ddd; }
.navbar-default .navbar-toggle .icon-bar { background-color: #888; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover { background-color: #e7e7e7; color: #555; }
.navbar-toggle{position:relative;float:right;padding:9px 10px;margin-top:12px;margin-right:15px;margin-bottom:8px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px}
.navbar-toggle:focus{outline:0}
.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px}
.navbar-toggle .icon-bar+.icon-bar{margin-top:4px}
.container-fluid { margin-left: auto; margin-right: auto; padding: 0 15px; }

/*iphoneandipadsearch*/
.columns{
	float: left;
	width: 30%;
	padding: 0 2em;
	position: relative;
	display:none;
}

.columns:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}
.sb-searchs {
	position: relative;
	width: 0%;
	min-width: 60px;
	height: 30px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-searchs-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height:30px;
	line-height:30px;
	margin: 0;
	z-index: 10;
	padding-left: 20px;
	padding-right:50px;
	font-size: 14px;
	color: #18191b;
}

.sb-searchs-input::-webkit-input-placeholder {
	color: #18191b;
}

.sb-searchs-input:-moz-placeholder {
	color: #18191b;
}

.sb-searchs-input::-moz-placeholder {
	color: #18191b;
}

.sb-searchs-input:-ms-input-placeholder {
	color: #18191b;
}

.sb-icon-search,
.sb-searchs-submit  {
	width: 60px;
	height: 30px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}

.sb-searchs-submit {
	background: #fff; 
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	height:30px;
	width:21px;
	z-index:999;
	background:url(../images/search.png) no-repeat center 8px;
	right:10px;
}
.sb-searchs.sb-searchs-open,
.no-js .sb-searchs {
	width: 100%;
	border: 1px solid #ccc;
    border-radius: 10px;
}

.sb-searchs.sb-searchs-open .sb-icon-search,
.no-js .sb-searchs .sb-icon-search {
	z-index: 11;
}

.sb-searchs.sb-searchs-open .sb-searchs-submit,
.no-js .sb-searchs .sb-searchs-submit {
	z-index: 90;
}

@media (max-width: 432px){
	.navbar-default .in{ 
		background: #fff; 
		display: block;
		box-shadow: 0 0 10px #ccc; 
		position: absolute; 
		height: auto; 
		right: 0;
		z-index: 44; 
		width: 100%;
		margin-top:5px;
	}
}


@media (max-width: 1200px) {
	.navbar-default .navbar-toggle{ 
		display: block; 
	}
	.navbar-default .collapse{ 
		display: none; 
	}
	.navbar-default .in{ 
		background: #fff; 
		display: block;
		box-shadow: 0 0 10px #ccc; 
		position: absolute; 
		height: auto; 
		right: 0;
		z-index: 44; 
		width: 100%;
	}
	.top{
		display:none;
	}
	.menu{
		padding-bottom:10px;
		text-align: center;
	}
	.menu li{
		line-height:45px;
		height:45px;
		float: none;
		text-align: center;
		position: relative;
		border-bottom: 1px solid #ebebeb;
		margin: 0 10px;
		background:none;
	}
	.menu li a{ 
		font-size:16px;    
		margin-right: 10px;
		color:#161616;
	}
	.menu li a:hover i{
		display:none;
	}
	.menu li .current i{
		display:none;
	}
	.menu ul.subnav {
		display: none;
	}
	.column {
		display:none;
	}
	.columns {
		display:block;
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 1em; 
	}
	.columns:nth-child(2) {
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media (min-width:1201px){
	.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{margin-left:-15px}
}

@media (min-width:1201px){
	.navbar-toggle{display:none}
	.navbar-nav {
		float: right;
		margin: 0;
	}
}

.main{
	padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
}
.main1{
	width:100%;
	margin:0px auto;
	margin-top:30px;
	overflow:hidden;
}
.main1 li{
	margin-bottom:30px;
	overflow:hidden;
}
.main1 li a{
	display:block;
}
.youshi_img1{
	margin-bottom:20px;
	overflow:hidden;
	background:url(../images/youshi1.jpg) no-repeat center center;
	height:160px;
}
.main1 li a:hover .youshi_img1{
	background:url(../images/youshi1_h.jpg) no-repeat center center;
}
.youshi_img2{
	margin-bottom:20px;
	overflow:hidden;
	background:url(../images/youshi2.jpg) no-repeat center center;
	height:160px;
}
.main1 li a:hover .youshi_img2{
	background:url(../images/youshi2_h.jpg) no-repeat center center;
}
.youshi_img3{
	margin-bottom:20px;
	overflow:hidden;
	background:url(../images/youshi3.jpg) no-repeat center center;
	height:160px;
}
.main1 li a:hover .youshi_img3{
	background:url(../images/youshi3_h.jpg) no-repeat center center;
}
.youshi_img4{
	margin-bottom:20px;
	overflow:hidden;
	background:url(../images/youshi4.jpg) no-repeat center center;
	height:160px;
}
.main1 li a:hover .youshi_img4{
	background:url(../images/youshi4_h.jpg) no-repeat center center;
}
.youshi_txt{
	text-align:center;
	margin-bottom:20px;
	overflow:hidden;
}
.youshi_txt h3{
	color:#404040;
	font-size:20px;
	font-weight:normal;
	margin-bottom:20px;
}
.youshi_txt p{
	color:#828181;
	font-size:14px;
	line-height:25px;
}
.main1 li a:hover .youshi_txt h3{
	color:#b08e68;
	font-weight:bold;
}
.youshi_more{
	width:130px;
	margin:0 auto;
	border:2px solid #b08e68;
	color:#b08e68;
	line-height:32px;
	text-align:center;
	border-radius:25px;
	display:none;
}
.main1 li a:hover .youshi_more{
	display:block;
}
.main2{
	width:100%;
	margin:0 auto;
	background-color:#f8f8f8;
	padding:45px 0px 30px 0px;
}
.index_title{
	margin-bottom:30px;
	overflow:hidden;
	text-align:center;
}
.index_title h3{
	color:#7b5327;
	font-size:30px;
	font-weight:bold;
	margin-bottom:10px;
}
.index_title span{
	text-transform:uppercase;
	color:#949494;
}
.index_title p{
	color:#b08e68;
	margin-top:10px;
	background:url(../images/title.jpg) no-repeat bottom center;
	padding-bottom:15px;
}
.main2_con{
	
}
.case_img{
	overflow:hidden;
}
.case_img img {
    width:100%;
	height:auto;
	transform: translateZ(0px);
    transition: transform 1s ease 0s;
}
.mis-slider li a:hover .case_img img{
    transform: scale(1.15, 1.15);
    transition: transform 1s ease 0s;
}
.case_txt{
	background-color:#fff;
	padding:20px 30px !important;
	overflow:hidden;
	width:100%;
}
.case_txt h3{
	text-align: center;
	color:#262626;
	font-size:16px;
	margin-bottom:10px;
}
.case_txt p{
	color:#717171;
	font-size:12px;
	line-height:25px;
	height:25px;
	margin-bottom: 10px;
	text-align:justify;
}
.case_txt i{
	background:url(../images/caseb.png) no-repeat bottom center;
	position:absolute;
	height: 36px;
    width: 100%;
	left:0;
	bottom: -18px;
	z-index:999999;
}
.mis-slider li a:hover .case_txt{
	background-color:#b08e68;
}
.mis-slider li a:hover .case_txt h3{
	color:#fff;
}
.mis-slider li a:hover .case_txt figcaption{
	color:#fff;
}
.mis-slider li a:hover .case_txt p{
	color:#fff;
}
.mis-slider li a:hover .case_txt i{
	background:url(../images/caseb_h.png) no-repeat bottom center;
}
.index_more{
	margin-top:15px;
	overflow:hidden;
}
.index_more a{
	display:block;
	width: 130px;
    margin: 0 auto;
    border: 2px solid #b08e68;
    color: #b08e68;
    line-height: 32px;
    text-align: center;
    border-radius: 25px;
	transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
}
.index_more a:hover{
	color:#0082cb;
	border:2px solid #b08e68;
	background-color:#b08e68;
	color:#fff;
}
.main3{
	width:100%;
	margin:40px auto;
	overflow:hidden;
}
.main3_con{
	margin-top:30px;
	overflow:hidden;
}
.news_fl{
	margin-bottom:20px;
	overflow:hidden;
}
.block_home_slider {
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	behavior: url(js/PIE.htc); /*半透明兼容*/
	text-align: center;
	line-height: 0px;
	margin-right: auto;
	margin-left: auto;
}
.block_home_slider .slide {position:relative;}
.block_home_slider .flex-direction-nav a {width:76px; height:76px; margin-top:-27px; display:block; position:absolute; top:50%; text-indent:-9000px;}
.block_home_slider .flex-direction-nav a.flex-prev {left:0px; background:url(../images/newsl.jpg) no-repeat left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background:url(../images/newsl_h.jpg) no-repeat left top;}
.block_home_slider .flex-direction-nav a.flex-next {right:0px; background:url(../images/newsr.jpg) no-repeat right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background:url(../images/newsr_h.jpg) no-repeat right top;}
.block_home_slider .flex-control-paging {display:inline-block;position: absolute;bottom: 10px;z-index: 888;}
.block_home_slider .flex-control-paging li {
	margin: 0px 5px;
	padding: 0px;
	float: left;
	overflow: hidden;
	list-style-type: none;
}
.block_home_slider .flex-control-paging li a {width:0px; height:0px; display:block;cursor:pointer;}
.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}
.block_home_post_feature {width:300px;}
.block_home_post_feature p {padding-bottom:0px;}
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
	list-style-type: none;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block; border:1px solid #e9e9e9;}
.flex-pauseplay span {text-transform: capitalize;}

.news_fr li{
	margin-bottom:20px;
	overflow:hidden;
}
.news_fr li a{
	display:block;
}
.news_fr_date{
	background-color:#e1e1e1;
	border-radius:5px;
	padding-bottom:8px;
	text-align:center;
	margin-bottom:20px;
}
.news_fr_date p{
	color:#979797;
	font-size:36px;
	font-weight:bold;
}
.news_fr_date span{
	color:#979797;
	font-size:18px;
}
.news_fr_detail{
	
}
.news_fr_detail h3{
	color:#000;
	font-size:16px;
	font-weight:normal;
	padding-bottom:15px;
}
.news_fr_detail p{
	color:#838383;
	font-size:12px;
	line-height:25px;
}
.news_fr_detail p span{
	color:#b08e68;
	font-size:12px;
}
.news_fr li a:hover .news_fr_date{
	background-color:#b08e68;
	border-radius:5px;
	padding-bottom:8px;
	text-align:center;
}
.news_fr li a:hover .news_fr_date p{
	color:#fff;
	font-size:36px;
	font-weight:bold;
}
.news_fr li a:hover .news_fr_date span{
	color:#fff;
	font-size:18px;
}
.news_fr li a:hover .news_fr_detail h3{
	color:#b08e68;
	font-size:16px;
	font-weight:normal;
	padding-bottom:15px;
}

footer{
	width:100%;
	margin:0 auto;
}
.footer1{
	width:100%;
	margin:0 auto;
	background-color:#424242;
	border-bottom:1px solid #606060;
	padding:20px 0px;
	overflow:hidden;
}
.footer1_fl{
	overflow:hidden;
}
.footer1_fl img{
	height:auto;
}
.footer1_fr{
	overflow:hidden;
}
.footer1_fr li{
	margin:0px 8px;
	text-align:center;
	float:left;
}
.footer1_fr li a{
	display:block;
	color:#fff;
	padding:20px 9px;
	font-size:14px;
}
.footer1_fr li a:hover{
	color:#b08e68;
}
.footer3{
	width:100%;
	margin:0 auto;
	background-color:#424242;
	padding:50px 0px 25px 0px;
	overflow:hidden;
}
.footer3_fl{
	margin-bottom:30px;
	overflow:hidden;
}
.footer3_fl h3{
	font-size:18px;
	font-weight:bold;
	color:#b08e68;
	background:url(../images/title1.jpg) no-repeat bottom left;
	margin-bottom:30px;
	padding-bottom:15px;
}
.footer3_fl p{
	font-size:12px;
	color:#a5a6a6;
	line-height:25px;
	margin-bottom:30px;
}
.footer3_fl span{
}
.footer3_fl span a{
	display:block;
	font-size:12px;
	color:#dcdcdc;
	border-radius:5px;
	border:1px solid #727272;
	padding:8px 0px;
	width:120px;
	text-align:center;
} 
.footer3_fl span a:hover{
	color:#b08e68;
	border:1px solid #b08e68;
}
.footer3_fr{
	margin-bottom:30px;
	overflow:hidden;
}
.footer3_fr h3{
	font-size:18px;
	font-weight:bold;
	color:#b08e68;
	background:url(../images/title1.jpg) no-repeat bottom left;
	margin-bottom:30px;
	padding-bottom:15px;
}
.footer3_fr p{
	font-size:12px;
	color:#a5a6a6;
	line-height:25px;
	margin-bottom:30px;
}
.footer3_fr img{
	height:auto;
}
.footer2{
	width:100%;
	margin:0 auto;
	background-color:#303030;
	padding:20px 0px;
	overflow:hidden;
}
.footer2 p{
	color:#9f9f9f;
	line-height:25px;
	text-align:center;
}
.footer2 p a{
	color:#9f9f9f;
}
.zxkf{
	position: fixed;
    right:0px;
    bottom: 0;
    z-index: 9999;
	width:80px;
}
.zxkf img{
	max-width:100%;
	height:auto;
	position:relative;
	margin-top:5px;
}

/*走进君安*/
.inner{
	width:100%;
	margin:0 auto;
	overflow:hidden;
	height:601px;
}
.inner_main{
	padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
}
.inner_main_title{
	width:100%;
	margin:0 auto;
	border-bottom:1px solid #e7e7e7;
	overflow: hidden;
}
.inner_title{
	float:left;
}
.inner_title p{
	float:left;
	padding:20px 30px;
	color:#fff;
	background-color:#7f511f;
	font-size:16px;
	margin-right:1px;
}
.inner_title ul{
	float:left;
}
.inner_title li{
	float:left;
	border-right:1px solid #efefef;
	position:relative;
}
.inner_title li a{
	display:block;
	color:#444;
	background-color:#eee;
	font-size:16px;
	padding:20px 30px;
	text-align:center;
}
.inner_title li a i{
	background:url(../images/li.jpg) no-repeat bottom center;
	height:6px;
	width:100%;
	left:0px;
	bottom:0px;
	position:absolute;
	z-index:999;
	display:none;
}
.inner_title li a:hover{	
	color:#fff;
	background-color:#b08e68;
}
.inner_title li a:hover i{
	display:block;
}
.inner_title li .current i{
	display:block;
}
.inner_title li .current{
	color:#fff;
	background-color:#b08e68;
}


.inner_location{
	float:right;
}
.inner_location p{
	padding:20px 0px;
	padding-left:30px;
	font-size:14px;
	color:#909090;
	background:url(../images/home.jpg) no-repeat left center;
}
.inner_location p a{
	color:#909090;
}
.inner_location p span{
	color:#b08e68;
}
.inner_main_con{
	width:100%;
	margin:50px auto 25px auto;
	overflow:hidden;
}
.inner_con_title{
	text-align:center;
}
.inner_con_title h3{
	color:#3c3b3b;
	font-size:24px;
	font-weight:bold;
	background:url(../images/ititle.jpg) no-repeat bottom center;
	padding-bottom:10px;
}
.inner_con_about{
	line-height:30px;
	color:#434343;
	margin:20px auto;
	overflow:hidden;
}
#shuzi{
	margin:40px auto 20px auto;
	overflow:hidden;
}
#shuzi li{
	margin-bottom:15px;
	overflow:hidden;
	text-align:center;
}
#shuzi .num {
	margin-bottom:10px;
	text-align:center;
	font-size:36px;
	color:#000;
	font-weight:bold;
}
#shuzi .num span{ 
	font-size:36px;
	color:#000;
	font-weight:bold;
	text-align:center;
}
#shuzi .text{
	font-size:16px;
	color:#000;
	text-align:center;
}
.inner_con_about img{
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	height: auto;
}

/*联系我们*/
.inner_con_contact{
	line-height:30px;
	color:#434343;
	margin:20px auto;
	overflow:hidden;
}
.lxfs{
	margin-bottom:30px;
	overflow:hidden;
}
.lxfs1{
	margin-bottom:20px;
	overflow:hidden;
	text-align:center;
}
.lxfs1 img{
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	height: auto;
	display:block;
	margin-bottom:20px;
}
.lxfs1 h3{
	font-size:18px;
	color:#b08e68;
	font-weight:normal;
	margin-bottom:10px;
}
.lxfs1 span{
	font-size:14px;
	color:#bebebe;
	text-transform:uppercase;
}
.lxfs1 p{
	font-size:16px;
	color:#434343;
	margin-top: 20px;
}
.line{
	border-left:1px dashed #cfcfcf;
	border-right:1px dashed #cfcfcf;
}
.map{
	margin-bottom:30px;
	overflow:hidden;
}
.map img{
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	height: auto;
	display:block;
}
.route{
	margin-bottom:20px;
	overflow:hidden;
}
.route h3{
	font-size:18px;
	font-weight:bold;
}
.route span{
	font-size:18px;
}
.route p{
	line-height:30px;
}

/*公司内网*/
.inner_con_login{
	line-height:30px;
	color:#434343;
	margin:20px auto;
	overflow:hidden;
}
.loginform{
	border:1px solid #e8e8e8;
	border-radius:8px;
	padding:30px 0px 30px 30px;
	width:45%;
	margin: 0 auto;
}
.loginform input{
	outline:none;
}
.denglu1{
	margin-bottom:18px;
	overflow:hidden;
}
.denglu1 img{
	float:left;
	margin-top:8px;
}
.denglu1 label{
	float: left;
	font-weight:normal;
	line-height:43px;
	padding-left:17px;
}
.denglu1 input{
	float:left;
	width: 295px;
    padding-left:17px;
    line-height: 43px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    font-size: 16px;
	color:#3a3a3a;
} 
.denglu2{
	overflow:hidden;
	text-align:center;
}
.denglu2 input {
	float: left;
	outline:none;
	width:110px;
	padding:5px 0px;
	font-size: 16px;
	color:#fff;
	cursor:pointer;
	border:none;
	margin:0px 10px 0px 100px;
}
.btn1 {
	background-color:#b08e68;
}
.denglu2 a{
	float: left;
	display:block;
	color:#fff;
	font-size:16px;
	background-color:#b08e68;
	width:110px;
	padding:5px 0px;
	
}

/*客户服务*/
.inner_con_ser{
	line-height:30px;
	color:#434343;
	margin:20px auto;
	overflow:hidden;
}
.ser{
}
.ser_fl{
	padding:0;
}
.ser_fr{
	padding:35px 50px 0px 50px;
	background-color:#eee;
	overflow:hidden;
	height: 302.1px;
}
.ser_fr img{
	margin: 0 !important;
}
.ser_fr h3{
	font-size:20px;
	color:#7b521e;
	font-weight:bold;
	margin-bottom:15px;
	margin-top:15px;
}
.ser_fr p{
	color:#434343;
	line-height:25px;
}
.inner_con_ser img{
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	height: auto;
	display:block;
}


/*公司新闻*/
.inner_con_news{
	margin:20px auto;
	overflow:hidden;
}
.inner_con_news li{
	margin-bottom:20px;
	border-bottom:1px dashed #e0e0e0;
	overflow:hidden;
}
.inner_con_news li a{
	display:block;
}
.news_date{
	overflow:hidden;
	margin-bottom:20px;
	background-color:#f1f1f1;
	border-radius: 5px;
	text-align: center;
	padding: 5px 15px 10px 15px;
	color:#a1a1a1;
}
.news_date p{
	font-size:36px;
	font-weight:bold;
	border-bottom:1px solid #cfcfcf;
	margin-bottom: 10px;
}
.news_date span{
	font-size:17px;
}
.news_content{
	margin-bottom:20px;
	overflow:hidden;
}
.news_content h3{
	font-size:18px;
	font-weight:normal;
	color:#000;
	line-height:25px;
    margin-bottom: 10px;
}
.news_content p{
	line-height:25px;
	color:#808080;
	margin-bottom: 10px;
}
.news_content span{
	color:#b08e68;
	background:url(../images/xq.jpg) no-repeat left center;
	padding-left:30px;
}
.inner_con_news li a:hover .news_date{
	background-color:#b08e68;
	color:#fff;
}
.inner_con_news li a:hover .news_date p{
	border-bottom:1px solid #c0a586;
}
.inner_con_news li a:hover .news_content h3{
	color:#b08e68;
}
/*分页*/
.pagev{
	text-align: right;
	padding:10px 0px;
	color:#666;
	clear:both;
}
.pagev span{
	height:24px;
	line-height:24px;
	padding:0px 9px;
	display: inline-block;
	margin: 0 4px!important;
}
.fonts{
	color:#fff;
	background-color:#b08e68;
	border:1px solid #b08e68;
}
.pagev span a{
	background-color:#fff;
	color:#666;
	border:1px solid #D9D9D9;
	line-height:24px;
	padding:0px 9px;
	display: inline-block;
	text-decoration:none;
	margin:1.5em 0;
}
.pagev span a:hover{
	color:#fff;
	background-color:#b08e68;
	border:1px solid #b08e68;
}

/*新闻详情*/
.inner_con_newsshow{
	margin:0px auto 20px auto;
	overflow:hidden;	
}
.show_title{
	text-align: center;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}
.show_title h3{
	color: #b08e68;
    font-size: 22px;
	padding-bottom: 10px;
	font-weight:normal;
}
.show_title span{
	color:#828384;
	margin:0px 10px;
}
.show_content{
	margin:20px auto;
	line-height:25px;
	color:#434343;
	padding:0px 10px;
}
.show_content img{
	margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
}
.show_back{
	padding-top:20px;
	text-align: center;
}
.show_back a{
	text-decoration: none;
    color: #646464;
	padding-left: 20px;
	background:url(../images/return.jpg) no-repeat left center;
}
.show_back a:hover{
	text-decoration: none;
    color: #b08e68;
}

/*典型工程*/
.inner_main_fl{
	margin-bottom:30px;
	overflow:hidden;
}
.inner_fl_title{
	background-color:#b08e68;
	padding:28px 0px 10px 0px;
	overflow:hidden;
	color:#fff;
	margin-bottom:5px;
	border-bottom:6px solid #9c7b56;
}
.inner_fl_titles{
	padding-left:36px;
}
.inner_fl_title1{
	float:left;
	text-transform:uppercase;
	font-size:60px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:-15px;	
}
.inner_fl_title2{
	float:left;
	margin-left:10px;
}
.inner_fl_title2 p{
	font-size:20px;
	margin-bottom:5px;
}
.inner_fl_title2 span{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.inner_fl_con{
	margin-bottom:20px;
	overflow:hidden;
}
.inner_fl_con li{
	margin-bottom:1px;
}
.inner_fl_con li a{
	display:block;
	line-height:30px;
	padding:15px 0px;
	color:#232323;
	background-color:#e7ebed;
	border-left:6px solid #d2d2d2;
	font-size:16px;
	padding-left: 30px;
}
.inner_fl_con li a:hover{
	color:#fff;
	background-color:#b08e68;
	border-left:6px solid #4d4948;
}
.inner_fl_con li .current{
	color:#fff;
	background-color:#b08e68;
	border-left:6px solid #4d4948;
}
.inner_main_fr{
	margin-bottom:30px;
	overflow:hidden;
	margin-top: 20px;
}
.inner_fr_title{
	border-bottom:1px solid #e3e3e3;
	padding-bottom:20px;
	overflow:hidden;
}
.inner_fr_title p{
	float:left;
	color:#000;
	font-size:24px;
	font-weight:bold;
	line-height:25px;
}
.inner_fr_title span{
	float:right;
	line-height:25px;
	color:#000;
	background:url(../images/home.jpg) no-repeat left center;
	padding-left:25px;
}
.inner_fr_title span a{
	color:#909090;
}
.inner_fr_title span em{
	color:#b08e68;
	font-style:normal;
}
.inner_fr_case{
	margin:20px auto;
	overflow:hidden;
}
.inner_fr_case li{
	margin-bottom:20px;
	overflow:hidden;
}
.inner_fr_case li a{
	display:block;
}
.icase_img{
	overflow:hidden;
}
.icase_img img{
	width:100%;
	height:auto;
	border:1px solid #e3e3e3;
	padding:5px;
}
.inner_fr_case li a:hover .icase_img img{
	width:100%;
	height:auto;
	border:1px solid #b08e68;
}
.icase_txt{
	background-color:#efefef;
	overflow:hidden;
	padding:20px 25px;
}
.icase_txt h3{
	text-align:center;
	background:url(../images/ititleb.jpg) no-repeat bottom center;
	font-size:16px;
	color:#000;
	line-height:28px;
	padding-bottom:8px;
	margin-bottom:10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.icase_txt p{
	font-size:14px;
	color:#545454;
	line-height:25px;
	margin-bottom:10px;
	height:50px;
}
.icase_txt span{
	color:#b08e68;
	text-align:center;
	font-size:12px;
	display: block;
}
.inner_fr_case li a:hover .icase_txt{
	background-color:#b08e68;
}
.inner_fr_case li a:hover .icase_txt h3{
	color:#fff;
	background:url(../images/ititleb_h.jpg) no-repeat bottom center;
}
.inner_fr_case li a:hover .icase_txt p{
	color:#e2cfb9;
}
.inner_fr_case li a:hover .icase_txt span{
	color:#fff;
}

/*典型工程详情*/
.inner_fr_caseshow{
	margin:20px auto;
	overflow:hidden;
}

/*产品中心*/
.inner_pro{
	margin-bottom:20px;
	overflow:hidden;
}
.inner_fr_titlepro{
	margin-bottom:20px;
	overflow:hidden;
	background-color:#ededed;
	border-bottom:2px solid #d8d8d8;
	padding:12px 0px 12px 20px;
}
.inner_fr_titlepro p{
	background:url(../images/prop.jpg) no-repeat left center;
	padding-left:30px;
	font-weight:normal;
	line-height:20px;
	font-size:18px;
	color:#3c3b3b;
}
.inner_fr_pro{
	overflow:hidden;
}
.inner_fr_pro h3{
	color:#7a7a7a;
	font-size:14px;
	line-height:25px;
	font-weight:normal;
	margin-bottom:20px;
}
.inner_fr_pro li{
	overflow:hidden;
}
.inner_fr_pro li a{
	display:block;
}
.ipro_img{
	overflow:hidden;
}
.ipro_img img{
	width:100%;
	height:auto;
	padding:5px;
	border:1px solid #e3e3e3;
}
.ipro_txt{
	padding:15px 0px;
	overflow:hidden;
}
.ipro_txt p{
	text-align:center;
	color:#535353;
	font-size:16px;
}
.inner_fr_pro li a:hover .ipro_img img{
	border:1px solid #b08e68;
}
.inner_fr_pro li a:hover .ipro_txt p{
	color:#b08e68;
}

/*产品详情*/
.inner_fr_proshow{
	margin:20px auto;
	overflow:hidden;
}





@media (max-width:320px){
	.denglu1 input{
		width:90%;
	}
}
@media (max-width:375px){
	.denglu2 input{
		margin: 0px 10px 0px 0px;
	}
}
@media (max-width: 414px){
	.line{
		display:none;
	}
	.denglu1 input{
		width:220px;
	}
	.inner_fr_title p{
		float:none;
		margin-bottom: 20px;
	}
	.inner_fr_title span{
		float:none;
	}
	.icase_txt p{
		height:auto !important;
	}
	.show_title h3{
		line-height:25px;
		font-size: 18px;
	}
	
}
@media (max-width:768px) {
	.footer1_fl{
		margin-bottom:15px;
		overflow:hidden;
	}
	.footer1_fr{
		margin-bottom:15px;
		overflow:hidden;
	}
	.ser{
		margin-bottom:10px;
	}
	.ser_fr{
		height:auto !important;
		padding-bottom: 35px;
	}
}

@media (max-width: 1200px){
	header{
		height:auto !important;
		overflow: inherit;
	}
	.navbar {
		background:none;
	}
	.banner {
		position:static !important;
	}
	.footer1_fr li a{
		padding:9px;
	}
	.zxkf{
		display:none;
	}
	.inner{
		height:auto !important;
		overflow: inherit;
	}
	.inner_banner {
		position:static !important;
	}
	.inner_title{
		float:none;
	}
	.inner_title p{
		float:none;
		margin-right:0;
		margin-bottom:1px;
	}
	.inner_title ul{
		float:none;
	}
	.inner_location{
		float:none;
	}
	.inner_title li a i{
		display:none;
	}
	.inner_title li a:hover i{
		display:none;
	}
	.inner_title li .current i{
		display:none;
	}
	
	.inner_title li{
		float:none;
		border:none;
		margin-bottom:5px;
	}
	.inner_title li a{
		background-color:#f2f2f2;
		padding:15px 30px;
	}
	.inner_con_about img{
		display:block;
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
		height: auto;
	}
	.inner_con_contact img{
		display:block;
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
		height: auto;
	}
	.case_img img {
		transform: none;
		transition: none;
	}
	.mis-slider li a:hover .case_img img{
		transform: none;
		transition: none;
	}
	.loginform{
		width:100%;
	}
	inner_con_ser img{
		display:block;
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
		height: auto;
	}
	.ser_fr{
		height:249.1px;
	}
	.show_content img{
		display:block;
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
		height: auto;
	}
	.case_txt p{
		height:auto !important;
	}
	
}







