/*  Cameo Skin CSS ========================================= */

.mis-stage {
	background-color: #f8f8f8;
}
.mis-slider {
	height: 80px;
}
.mis-slider li a {
	text-decoration: none;
	color: #666;
	display: block;
}

.mis-slider li img {
	/*  Make max-width of image a little less than width of slide
        to avoid some browser shinking bugs */
        max-width: 100%;
	/*  for really small screens make width 100% */
        width: 100%;
	/*  Make image round */
       	border: none;
}
.mis-slide {
	width: 380px;
	height: auto;
	box-shadow:0px 0px 15px #e2e2e2;
	position:relative;
}
.mis-nav-buttons a {
	color: #fff;
}
