<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/home/layout">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet"/>
<link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>

<div th:fragment="content">
    <ul class="layui-tab-title">
        <li lay-id="0" class="layui-this">产品分类列表</li>
        <li lay-id="2" class="layui"><a href="/admin/productCategory/add">添加产品分类</a></li>
    </ul>

    <br/>
    <div class="demoTable">
        分类名称：
        <div class="layui-inline">
            <input class="layui-input" name="name" id="name" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload">搜索</button>
    </div>
    <table class="layui-table" id="tableList"></table>
</div>
</html>

<script th:inline="none">
    function del(id){
        layui.use('layer',function(){
            var layer = layui.layer;
            layer.msg('你确定删除么？', {
                time: 2000 ,//2秒自动关闭
                btn: ['确定', '取消'],
                yes: function(index){
                    console.log(id);
                    $.ajax({
                        url:"/admin/productCategory/delete",
                        data:{'id':id},
                        type:"Post",
                        dataType:"json",
                        success:function(data){
                            location.reload(); //删除成功后再刷新
                        },
                        error:function(data){
                            alert('错误',data);
                            console.log(data);
                        }
                    });
                    layer.close(index);
                }
            });
        });
    };
    layui.use(['table'], function(){
        var table = layui.table;//使用数据表格

        table.render({
            elem: '#tableList',//选择html中对应的数据表格ID
            url:'/admin/productCategory/list2',//分页提交到spring boot 代码的映射名称
            method:'POST',
            limit:10,//每页显示的记录数量
            limits:[5,8,10,15,20],//可选择每页显示的数量
            page: true,//开启分页

            //设置表头的数组
            //field：后台传回的数字字段名，
            //title：表头文字
            //templet: function(data){} 数据表格请求后台回调函数，处理数据
            //return  表示在对应的列中输出的内容
            cols: [[
                {type: 'numbers',title: '序号'},
                {field:'name', title:'分类名称'},
                {field:'details',title:'描述'},
                {field:'priority',title:'排序'},
                {title:'编辑',width:80,templet:"#editButton"},
                {title:'删除',width:80,templet:"#delButton"}
            ]],
            id: 'tableList',
            done:function(res, curr, count){
                console.log("表格渲染完成：");
                console.log(res);
                console.log(curr);
                console.log(count);
            }

        });

        var $ = layui.$, active = {
            reload: function(){
                var name = $('#name');

                //执行重载
                table.reload('tableList', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        name: name.val()
                    }
                }, 'data');
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
<script type="text/html" id="editButton">
    <a href='/admin/productCategory/edit?id={{d.id}}' title='编辑' class='layui-btn layui-btn-xs layui-btn-normal'><icon class='layui-icon'>&#xe642;</icon></a>
</script>
<script type="text/html" id="delButton">
    <button  onclick="del({{d.id}})" title='删除' class='layui-btn layui-bg-red layui-btn-xs layui-btn-normal'><icon class='layui-icon'>&#xe640;</icon></button>
</script>