<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>诸暨曼赫有限公司</title>
<meta name="keywords" content="诸暨曼赫有限公司">
<meta name="description" content="诸暨曼赫有限公司">
 

 <meta content="application/xhtml+xml;charset=utf-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
 <link type="text/css" rel="stylesheet" href="themes\css\index.css">
  <script type="text/javascript" src="themes\js\jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="themes\js\quanping.js"></script>
<script type="text/javascript" src="themes\js\swipe.js"></script>



 
 
</head>

<body>
 
 
<div id="path"><i class="iconfont"></i></div>
<div class="bj"></div>
<div class="header">
  <div class="header_lb"><i class="iconfont" id="nav_dj"></i></div>
  <div class="header_zy"><a href="/h5"><i class="iconfont"></i></a></div>
 <img src="themes\images\logo.jpg" width="250" height="20">
  <div class="nav" id="nav">

 <li><a href='/product'>臻品系列</a> </li>

 <li><a href='/about'>曼赫故事</a> </li>

 <li><a href='/news'>新闻资讯</a> </li>

 <li><a href='/case'>经典案例</a> </li>

 <li><a href='/contact'>联系我们</a> </li>      

  </div>
</div>
<div id="banner_box" class="box_swipe" style="visibility: visible;">
  <ul style="list-style: none; width: 2880px; transition: 500ms; -webkit-transition: 500ms; -webkit-transform: translate3d(-720px, 0px, 0px);">
    <li> <a href="#"> <img src="themes\images\b1.jpg" alt="" style="width:100%;"> </a> </li>
    <li> <a href="#"> <img src="themes\images\b2.jpg" alt="" style="width:100%;"> </a> </li>
    
    <li> <a href="#"> <img src="themes\images\b3.jpg" alt="" style="width:100%;"> </a> </li>
    
    <li> <a href="#"> <img src="themes\images\b4.jpg" alt="" style="width:100%;"> </a> </li>
 

  </ul>
  <ol>
 <li class="on"></li>
    <li class=""></li>
     <li class=""></li>
       <li class=""></li>
        

  </ol>
</div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
$(function() {
    new Swipe($('#banner_box')[0], {
        speed:500,
        auto:3000,
        callback: function(){
            var lis = $(this.element).next("ol").children();
            lis.removeClass("on").eq(this.index).addClass("on");
        }
    });
});

 

</script>
 
    <img src="themes\images\main1.jpg" width="100%">


<div class="in_sm">
  
  <h6>“让建筑更美丽，让生活更美好”这是曼赫门业的愿景，<br>
也是曼赫人的一种情怀。<br>
丘吉尔说过:“人塑造建筑，建筑也塑造人”。<br>
其实铜门艺术对于建筑本身也然。<br>
铜门本身所体现的内涵，<br>
是领地,是身份,是自信,是安全,是幸福,也是一种价值的认同。<br>
曼赫门业为社会精英阶层的品质生活而来，<br>
用人文艺术书写一个属于您的尊贵故事。
    
    
    
    </h6>
</div>
<div class="in_s">
  <li>  <div class="cc">
   
    <a href="/product"> <img src="themes\images\product.jpg" width="100%"> </a> </div></li>
  <li>  <div class="cc">
 

      <a href="/case"> <img src="themes\images\cases.jpg" width="100%"></a></div></li>
  <li style="border:none; width:100%">  <div class="cc">
  
  <a href="/about">   <img src="themes\images\company.jpg" class="footer_1" width="100%"> </a></div></li>

</div>


<div class="clear"></div>
<div class="foot">
<div class="footer_nav">
<li><a href='/product'>臻品系列</a> </li>

 <li><a href='/about'>曼赫故事</a> </li>

 <li><a href='/news'>新闻资讯</a> </li>

 <li><a href='/case'>经典案例</a> </li>

 <li><a href='/contact'>联系我们</a> </li>  
</div>



<div class="foot">
 
<a href="/h5">
<img src="themes\images\footer_logo.png" width="107">
</a>

<br>
 
<br><br>
 
 
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
 



<h6>&copy; 2020 诸暨曼赫有限公司  尊贵热线： <br><span>0575-XXXX  XXXX</span></h6>

</div>


</div>
 
</body>
</html>
