<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>苏州君安铜门集团有限公司</title>
<meta name="keywords" content="苏州君安铜门集团有限公司 ">
<meta name="description" content="苏州君安铜门集团有限公司 ">
<meta name="Author" content="云度科技 www.clouddo.cn">
<!-- Bootstrap -->
<link href="css\bootstrap.min.css" rel="stylesheet">
<link href="css\index.css" rel="stylesheet">
<link href="css\animate.min.css" rel="stylesheet">
<link href="css\banner.css" rel="stylesheet">
<link href="css\owl.carousel.css" rel="stylesheet">
<link href="css\owl.theme.css" rel="stylesheet">
<link href="css\swiper.min.css" rel="stylesheet">
<link href="css\jquery.fancybox.css" rel="stylesheet">
<link href="css\slick.css" rel="stylesheet">
<link href="css\mislider.css" rel="stylesheet">
<link href="css\mislider-skin-cameo.css" rel="stylesheet">
<!--[if lt IE 9]>
	<script src="/js/html5shiv.min.js"></script>
	<script src="/js/respond.min.js"></script>
<![endif]-->
<script src="js\jquery.min.js"></script>
<script src="js\mislider.js"></script>
<script src="js\swiper.min.js"></script>
<script src="js\bootstrap.min.js"></script>
<script src="js\common.js"></script>
<script type="text/javascript">
jQuery(function ($) {
	var slider = $('.mis-stage').miSlider({
		stageHeight: 400,
		slidesOnStage: 5,
		slidePosition: 'center',
		slideStart: 'beg',
		slideScaling: 100,
		offsetV: 0,
		centerV: true,
		navButtonsOpacity: 1
	});
});
</script>
<script type="text/javascript">
$(function(){
	$('.mis-stage li').mouseover(function(e) {
        $(this).siblings().stop().fadeTo(500,0.7);
    });
	$('.mis-stage li').mouseout(function(e) {
        $(this).siblings().stop().fadeTo(500,1);
    });
})
</script>
</head>

<body>	
	<!--nav开始-->
    
<header class="inner">
  <div class="wow top fadeInDown">
    <div class="container">
      <p class="mail"><a href="mailto:dd@65651818.com" target="_blank">企业邮箱</a></p>
      <p class="tel">服务咨询热线：0512-65651818</p>
    </div>
  </div>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="container-fluid"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="default.html"><img src="images\logo.jpg" alt=""></a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav menu">
            <li><a href="index.html">苏君首页<i></i></a></li>
            <li><a href="about.html">走进君安<i></i></a>
              <ul>
                <li><a href="about.html">公司简介</a></li>
                <li><a href="about-1.html?ID=73">公司荣誉</a></li>
              	<li><a href="about-2.html?ID=74">生产设备</a></li>
                <li><a href="about-3.html?ID=66">企业文化</a></li>
                <li><a href="about-4.html?ID=67">友好往来</a></li>
              </ul>
            </li>
            <li><a href="news.html">公司新闻<i></i></a></li>
            <li><a href="product.html">产品展示<i></i></a>
              <ul>
 
              <li><a href="product-1.html?ClassID=4#catpro_4">平开铜门系列</a></li>
 
              <li><a href="product-2.html?ClassID=5#catpro_5">平移铜门系列</a></li>
 
              <li><a href="product-3.html?ClassID=6#catpro_6">旋转铜门系列</a></li>
 
              <li><a href="product-4.html?ClassID=7#catpro_7">折叠铜门系列</a></li>
 
              <li><a href="product-5.html?ClassID=3#catpro_3">母子铜门系列</a></li>
 
              <li><a href="product-6.html?ClassID=1#catpro_1">门中套门铜门系列</a></li>
 
              <li><a href="product-7.html?ClassID=8#catpro_8">欧式铜门系列</a></li>
 
              <li><a href="product-8.html?ClassID=2#catpro_2">镂空玻璃铜门系列</a></li>
 
              <li><a href="product-9.html?ClassID=9#catpro_9">中式铜门系列</a></li>
 
              <li><a href="product-10.html?ClassID=10#catpro_10">时尚简约铜门系列</a></li>
 
              <li><a href="product-11.html?ClassID=11#catpro_11">铜壁画</a></li>
 
              <li><a href="product-12.html?ClassID=12#catpro_12">铜雨蓬</a></li>
 
              <li><a href="product-13.html?ClassID=13#catpro_13">铜装饰</a></li>
              </ul>
            </li>
            <li><a href="case.html">典型工程<i></i></a></li>
            <li><a href="service.html">客户服务<i></i></a>
              <ul>
          
     <li><a href="service-1.html?ID=72">售后服务</a></li>
 
     <li><a href="service-2.html?ID=71">销售区域</a></li>
 
     <li><a href="service.php?ID=70">销售方式</a></li>
              </ul>
            </li>
            <li><a href="login.html">公司内网<i></i></a></li>
            <li><a href="contact.html">联系我们<i></i></a></li>
          </ul>
<script type="text/javascript">
	$(document).ready(function () {
		$('.menu li a').each(function () {
				if ($($(this))[0].href == String(window.location))
					$(this).addClass('current').attr('href', 'javascript:void(0);');
			});
		});
</script> 
        </div>
        <!-- /.navbar-collapse --> 
      </div>
      <!-- /.container-fluid --> 
    </div>
  </nav>
  <!--nav结束-->
  <div class="clear"></div>
  <!--banner开始-->
  <div class="inner_banner">
    <ul class="banner-uls">
      <li class="banner-lis"><a href="#" style="background-image: url('images/case_ban.jpg');"></a></li>
    </ul>
  </div>
  <!--banner结束-->
  <div class="clear"></div>
</header>
    
	<!--主体开始-->
	<div class="wow inner_main fadeInUp">
        <div class="container">
            <div class="inner_main_fl col-md-3">
                <div class="inner_fl_title">
                	<div class="inner_fl_titles">
                    	<div class="inner_fl_title1">E</div>
                    	<div class="inner_fl_title2"><p>工程项目</p><span>ngineering project</span></div>
                    </div>
                </div>
                <div class="inner_fl_con">
<ul>
	<li><a href="case.html">全部工程</a></li>
 
              <li><a href="case-2.html?ClassID=1">国家重点工程</a></li>
 
              <li><a href="case-3.html?ClassID=2">政府军队</a></li>
 
              <li><a href="case-4.html?ClassID=4">金融系统</a></li>
 
              <li><a href="case-5.html?ClassID=6">政法系统</a></li>
 
              <li><a href="case-6.html?ClassID=3">风景区、纪念馆、博物馆</a></li>
 
              <li><a href="case-7.html?ClassID=5">房地产、酒店、别墅</a></li>
        </ul>
                </div> 
                <script type="text/javascript">
                        $(document).ready(function () {
                            $('.inner_fl_con li a').each(function () {
                                    if ($($(this))[0].href == String(window.location))
                                        $(this).addClass('current').attr('href', 'javascript:void(0);');
                                });
                            })
                </script>		
            </div>
            <div class="inner_main_fr col-md-9">
                <div class="inner_fr_title">
                	<p>典型工程</p>
                    <span>当前页面-<em>典型工程</em></span>
                </div>
                <div class="inner_fr_caseshow">
                   <div class="show_title">
						<h3>大连市一方城堡毫华精选酒店旋转大门及所有边门</h3>
						<span>发布时间：2017-10-30</span>
                        <span>浏览：356</span>
					</div>		
					<div class="show_content">
						<p style="text-align: center;"><img src="upload\20171030\1509326013881936.jpg" style=""><br><br></p><p style="text-align: center;"><img src="upload\20171030\1509326013724698.jpg" style=""><br><br></p><p style="text-align: center;"><img src="upload\20171030\1509326013426315.jpg" style=""><br><br></p><p style="text-align: center;"><img src="upload\20171103\1509672866176258.jpg" title="111.jpg"></p><p><br></p>					</div>
					<div class="show_back">
						<a href="javascript:history.go(-1);">【返回】</a>	
					</div>  
                </div> 
            </div>
        </div>	
	</div>
	<!--主体结束-->
	<div class="clear"></div>
    
<!--底部开始-->
<footer>
  <div class="wow footer1 fadeInUp">
    <div class="container">
      <div class="footer1_fl col-md-4"> <img src="images\footlogo.png" alt=""> </div>
      <div class="footer1_fr col-md-8">
        <ul>
          <li><a href="index.htm">苏君首页</a></li>
          <li><a href="about.html">走进君安</a></li>
          <li><a href="news.html">公司新闻</a></li>
          <li><a href="product.html">产品展示</a></li>
          <li><a href="case.html">典型工程</a></li>
          <li><a href="service.html">客户服务</a></li>
          <li><a href="login.html">公司内网</a></li>
          <li><a href="contact.html">联系我们</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wow footer3 fadeInUp">
    <div class="container">
      <div class="footer3_fl col-md-6">
        <h3>公司简介</h3>
        <p> 苏州君安铜门集团有限公司系一家注册于苏州国家高新技术产业开发区的股份制企业，公司由五家下属企业组成，占地面积50余亩，年生产规模达二万平方米，连续五年铜门全国销量列前。先后承接工程三千多项，曾参与多项国家重点工程建设。产品出口美国、英国、台湾等地．．． </p>
        <span><a href="about.html">+查看详情</a></span> </div>
      <div class="footer3_fc col-md-1"></div>
      <div class="footer3_fr col-md-5">
        <h3>联系我们</h3>
        <p> 电话：0512-65651818&nbsp;&nbsp;&nbsp;&nbsp;传真：0512-65658057&nbsp;&nbsp;&nbsp;&nbsp;邮编：215128<br>
          邮箱：dd@65651818.com &nbsp;&nbsp;地址：中国江苏·苏州市新门路18号 </p>
        <img src="images\ewm.png" alt=""> </div>
    </div>
  </div>
  <div class="wow footer2 fadeInUp">
    <div class="container">
      <p> 任何个人或单位未经许可不得复制转载转刊 本网站涉及内容最终归苏州君安铜门集团有限公司所有 请勿建立镜像<br>
        Copyright © 2017 版权所有：苏州君安铜门集团有限公司  苏ICP备000000号-1  技术支持：云度科技 </p>
    </div>
  </div>
</footer>
<!--底部结束--> 

<!--客服开始-->
<div class="zxkf"> <img src="images\qq.jpg" alt=""> <img src="images\kftel.jpg" alt=""> <a href="#"><img src="images\top.jpg" alt=""></a> </div>
<!--客服结束--> 

<script type="text/javascript" src="js\wow.min.js"></script> 
<script type="text/javascript">
    new WOW().init();
</script> 
<script type="text/javascript">
	$(document).ready(function () {
		$('.inner_title li a').each(function () {
				if ($($(this))[0].href == String(window.location))
					$(this).addClass('current').attr('href', 'javascript:void(0);');
			});
		})
</script>
</body>
</html>
